apiVersion: v1
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: sd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
      app.kubernetes.io/name: backend
      app.kubernetes.io/instance: sd
  template:
    metadata:
      labels:
        app: backend
        app.kubernetes.io/name: backend
        app.kubernetes.io/instance: sd
    spec:
      containers:
        - name: backend
          image: {{ .Values.backend.image | default "manufreit/sd-backend:latest" }}
          env:
            - name: RABBITMQ_HOST
              value: {{ .Values.rabbitmq.host | default "rabbitmq" | quote }}
            - name: RABBITMQ_PORT
              value: {{ .Values.rabbitmq.port | default 5672 | quote }}
            - name: RABBITMQ_USER
              value: {{ .Values.rabbitmq.user | quote }}
            - name: RABBITMQ_PASSWORD
              value: {{ .Values.rabbitmq.password | quote }}
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - name: http
      protocol: TCP
      port: 8000       
      targetPort: 8000  
  type: LoadBalancer
