apiVersion: v1
kind: Namespace
metadata:
  name: sd
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulator
  labels:
    app: simulator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulator
  template:
    metadata:
      labels:
        app: simulator
    spec:
      containers:
        - name: simulator
          image: manufreit/sd-simulador:latest
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka-service:9092
            - name: GPX_FILES_FOLDER
              value: /app/gpx   # GPX files baked into the image
          ports:
            - containerPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: simulator
spec:
  selector:
    app: simulator
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP   # or NodePort if you want to access from outside the cluster
