apiVersion: v1
kind: Namespace
metadata:
  name: sd
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: manufreit/sd-frontend:latest
          ports:
            - containerPort: 80
          # Optional: mount GPX or static assets if needed
          # volumeMounts:
          #   - name: gpx-files
          #     mountPath: /app/gpx
      # volumes:
      #   - name: gpx-files
      #     hostPath:
      #       path: /path/on/node/simulator/gpx
      #       type: Directory

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  type: LoadBalancer  # or LoadBalancer if on cloud
  ports:
    - protocol: TCP
      port: 80       # service port
      targetPort: 80 # container port
      nodePort: 30081 # optional, only with NodePort
