apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: manufreit/sd-frontend:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: gpx-data
              mountPath: {{ .Values.gpx.mountPath }}/{{ .Values.gpx.fileName }}
              subPath: {{ .Values.gpx.fileName }}
      volumes:
        - name: gpx-data
          persistentVolumeClaim:
            claimName: {{ .Values.gpx.pvcName }}
