apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
    app.kubernetes.io/name: frontend
    app.kubernetes.io/instance: sd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      app.kubernetes.io/name: frontend
      app.kubernetes.io/instance: sd
  template:
    metadata:
      labels:
        app: frontend
        app.kubernetes.io/name: frontend
        app.kubernetes.io/instance: sd
    spec:
      containers:
        - name: frontend
          image: {{ .Values.frontend.image | default "manufreit/sd-frontend:latest" }}
          ports:
            - containerPort: 80
          #
          # volumeMounts:
          #   - name: gpx-files
          #     mountPath: /app/gpx
      # volumes:
      #   - name: gpx-files
      #     hostPath:
      #       path: /path/on/node/simulator/gpx
      #       type: Directory

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  type: LoadBalancer 
  ports:
    - protocol: TCP
      port: 80      
      targetPort: 80 
