name: Build and Push Docker Image

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Build Docker image
        run: |
          docker build -t manufreit/sd-frontend ./frontend
          docker build -t manufreit/sd-backend ./backend

      - name: Push Docker image
        run: |
          docker push manufreit/sd-frontend:latest
          docker push manufreit/sd-backend:latest
